title{
	font-family: Georgia; 
	text-align: center;
	font-style: italic;
}
body{
	font-family: Georgia;
	color: yellow;
	text-align: center;
	font-size: 24px; 
}  
h1{
	color: white;
}	
p{
font-style: italic;
}

